In [32]:
str1 = "Hello world!"

In [4]:
type(str1)

str

In [13]:
str1[0] = "t"

TypeError: 'str' object does not support item assignment

In [16]:
"Hello" in str1

True

In [18]:
for i in str1:
    print(i)

H
e
l
l
o

w
o
r
l
d
!

In [21]:
char = "c"

In [22]:
type(char)

str

In [23]:
str1

'Hello world!'

In [24]:
str2 = "THis is programming"

In [26]:
str1 + " " +str2

'Hello world! THis is programming'

In [27]:
str1 + str(2)

'Hello world!2'

In [28]:
str1

'Hello world!'

In [29]:
str1 * 3

'Hello world!Hello world!Hello world!'

In [30]:
del str1

In [31]:
str1

NameError: name 'str1' is not defined

In [33]:
str1

'Hello world!'

In [34]:
str1[0:5]

'Hello'

In [35]:
str1[-7:-1]

' world'

In [36]:
str1[5:]

' world!'

In [37]:
str1[:6]

'Hello '

In [38]:
str1.split("l")

['He', '', 'o wor', 'd!']

In [39]:
channel = "learn python"

In [41]:
s = "this is the primary video of channel " + channel
s

'this is the primary video of channel learn python'

In [46]:
a = "this is the primary video of channel {c_name}".format(c_name=channel)

In [47]:
a

'this is the primary video of channel learn python'

In [48]:
v = "this is the primary video of channel {c_name} and {c_name} and {c_name}".format(c_name="learn python")

In [49]:
v

'this is the primary video of channel learn python and learn python and learn python'

In [52]:
d = "value of x: {X} and y: {Y} and z: {Z}".format(X=34,Y=56,Z=67)

In [53]:
d

'value of x: 34 and y: 56 and z: 67'

In [54]:
dict1 = {"X":567,"Y":5375,"Z":"string"}

In [56]:
str5 = "value of x: {X} and y: {Y} and z: {Z}".format_map(dict1)

In [57]:
str5.capitalize()

'Value of x: 567 and y: 5375 and z: string'

In [58]:
str5.isalnum()

False

In [59]:
"this65".isalnum()

True

In [60]:
"this".isalpha()

True

In [61]:
str5

'value of x: 567 and y: 5375 and z: string'

In [63]:
str5.upper().lower()

'value of x: 567 and y: 5375 and z: string'

In [64]:
str5

'value of x: 567 and y: 5375 and z: string'

In [67]:
str5.find("5674")

-1

In [68]:
str5.index("5674")

ValueError: substring not found

In [69]:
str5

'value of x: 567 and y: 5375 and z: string'

In [71]:
str5.startswith("of")

False

In [73]:
str5.endswith("567")

False

In [74]:
str5

'value of x: 567 and y: 5375 and z: string'

In [75]:
str5.islower()

True

In [76]:
str5.isupper()

False

In [77]:
str5.replace("value","newValue")

'newValue of x: 567 and y: 5375 and z: string'

In [78]:
str5

'value of x: 567 and y: 5375 and z: string'