In [1]:
#creation of tuple

In [49]:
t = ("value1","name","myname")

In [3]:
type(t)

tuple

In [6]:
single_value = ("single",)

In [7]:
type(single_value)

tuple

In [8]:
f = tuple(("random","python"))

In [9]:
type(f)

tuple

In [10]:
#accessing the value

In [11]:
t

('value1', 'name', 'myname')

In [12]:
f

('random', 'python')

In [13]:
single_value

('single',)

In [14]:
t[0]

'value1'

In [15]:
t[-1]

'myname'

In [16]:
t[0:2]

('value1', 'name')

In [17]:
t[-3:-1]

('value1', 'name')

In [18]:
#changing the value in tuple

In [20]:
li = list(t)

In [22]:
li[0] = "english"

In [23]:
li

['english', 'name', 'myname']

In [24]:
t = tuple(li)

In [25]:
t

('english', 'name', 'myname')

In [26]:
type(t)

tuple

In [27]:
#loops in Tuple

In [28]:
for x in t:
    print(x)

english
name
myname

In [29]:
#in clause

In [30]:
"english" in t

True

In [31]:
"hindi" in t

False

In [32]:
#removing an item in tuple

In [33]:
#length of tuple

In [34]:
len(t)

3

In [35]:
t.__len__()

3

In [36]:
t

('english', 'name', 'myname')

In [37]:
f

('random', 'python')

In [40]:
#list functions that won't work here

In [46]:
del t

In [47]:
t

NameError: name 't' is not defined

In [51]:
t.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [52]:
t

('value1', 'name', 'myname')

In [54]:
t.count("myname")

1

In [57]:
t.index("this")

ValueError: tuple.index(x): x not in tuple