# Creation of sets

In [3]:
set1 = {"apple","banana"}

In [4]:
type(set1)

set

In [5]:
set2 = set(("banana","grapes"))

In [6]:
type(set2)

set

# Accessing Values in Sets

In [7]:
set1[0]

TypeError: 'set' object is not subscriptable

In [9]:
for i in set1:
    print(i)

banana
apple

In [10]:
for j in set2:
    print(j)

banana
grapes

# In clause in Set

In [13]:
"grapes" in set2

True

# Length of Set

In [14]:
len(set1)

2

In [15]:
set1.__len__()

2

# Adding item in set

In [16]:
set1

{'apple', 'banana'}

In [17]:
set1.add("mango")

In [18]:
set1

{'apple', 'banana', 'mango'}

In [19]:
set1.add("apple")

In [20]:
set1

{'apple', 'banana', 'mango'}

# deletion in Set

In [21]:
set1

{'apple', 'banana', 'mango'}

In [24]:
set1.remove("apple")

KeyError: 'apple'

In [25]:
set1.discard("banana")

In [26]:
set1

{'mango'}

In [27]:
set2

{'banana', 'grapes'}

In [28]:
set2.pop()

'banana'

In [29]:
del set2

In [30]:
set2

NameError: name 'set2' is not defined

# clear method

In [31]:
set1 = {"apple","banana",'mango',2,'this'}

In [32]:
set1.clear()

In [33]:
set1

set()

In [35]:
set1 = {"apple","banana",'mango',2,'this'}

In [36]:
set2 = set1.copy()

In [37]:
set2

{2, 'apple', 'banana', 'mango', 'this'}

# Set specific method

### union, itersection, difference, issubset, issuperset, symmetric_difference

In [40]:
set1 = {"apple","banana","grapes"}
set2 = {"apple","banana", "grapes","mango","orange"}
set3 = {"mango","cabbage","flower","rose"}

In [41]:
set1.union(set3)

{'apple', 'banana', 'cabbage', 'flower', 'grapes', 'mango', 'rose'}

In [42]:
set1.intersection(set3)

set()

In [43]:
set2.intersection(set3)

{'mango'}

In [47]:
set1.difference(set2)

set()

In [48]:
set2.difference(set1)

{'mango', 'orange'}

In [49]:
set3 = set2.copy()

In [50]:
set3.difference_update(set1)

In [51]:
set3

{'mango', 'orange'}

In [54]:
set3.update(set1)

In [55]:
set3

{'apple', 'banana', 'grapes', 'mango', 'orange'}

In [56]:
set1

{'apple', 'banana', 'grapes'}

In [57]:
set2

{'apple', 'banana', 'grapes', 'mango', 'orange'}

In [59]:
set2.issubset(set1)

False

In [60]:
set1.issuperset(set2)

False

In [61]:
set2.issuperset(set1)

True

## symmetric_difference

In [66]:
set1 = {1,2,3}

In [67]:
set2 = {1,2,4}

In [68]:
set1.symmetric_difference(set2)

{3, 4}

In [69]:
set1.symmetric_difference_update(set2)

In [70]:
set1

{3, 4}